* {
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  outline:none;
  text-decoration:none;
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
}

ol, ul, li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button, a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}  

/* button, input, textarea, select {
  appearance: none !important;
  -webkit-appearance: none !important; 
  border-radius: 0;
} */

body{
  background-color: #edf5e1;
}

#form, #form2 {
  width: 450px;
  height: 650px;

  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);

  background-color: #5cdb95 ;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  font-family: 'Cabin', sans-serif;
  color: #05386b;

  padding: 50px;
}

#form2{
  left: 0;
  transform: translate(0, -50%);
}

h3{
  text-align: center;
  margin-bottom: 30px;
  color: #379683;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
}

#form >div, #form2 >div{
  margin-bottom: 25px;
}

label{
  display: block;
  margin-bottom: 1px;
}

#form >div:nth-child(5) label, #form >div:nth-child(6) label, #form >div:nth-child(7) label {
  display: inline;
  margin-right: 10px;
}

button{
  width: 100%;
  height: 40px;

  border-radius: 4px;
  background-color: #379683;
  color: #edf5e1;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#form >div:nth-child(2) input, #form >div:nth-child(4) input, #form >div:nth-child(7) select {
  width: 100%;
  height: 40px;
  padding: 7px;
  background-color: #edf5e1;
  font-size: 16px;
  border-radius: 4px;
}
#form >div:nth-child(7) select{
  margin-bottom: 35px;
}


#form >div:nth-child(2) input:focus, #form >div:nth-child(4) input:focus, #form >div:nth-child(7) select:focus{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#form div.file{
  position: relative;
}